<!--div class="container">
	<div class="col-lg-4">
		<form #updateUserForm="ngForm" (ngSubmit)="onSubmit()">
		<p>
			<label>Nombre</label>
			<input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required />	
		</p>		
		<p>
			<label>Dirección</label>
			<input type="text" #name="ngModel" name="address" [(ngModel)]="user.address" class="form-control" required />	
		</p>
		<p>
			<label>Teléfono</label>
			<input type="number" #name="ngModel" name="telephono" [(ngModel)]="user.telephone" class="form-control" required />
		</p>
		<input type="submit" value="Guardar" class="btn btn-primary">
		<a class="btn btn-success">Cancelar</a>
		</form>
	</div>
</div-->
